html, body {
  background: hsl(216, 30%, 98%);
  line-height: 1.6;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding-top: 2vw;
  padding-bottom: 15px;
  color: hsl(216, 10%, 20%);

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a {
  color: #00f;
}

a:hover, a:focus {
  color: #008;
}

blockquote {
  border-left: 5px solid #bdc9db;
  padding-left: 20px;
  margin: 0;
  color: hsl(216, 10%, 40%);
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  background: #efefef;
  padding: 1em;
  border-radius: 2px;
}

.container {
  max-width: 48rem;
  margin-bottom: 4em;
}

#footer {
  font-size: 0.85em;
  opacity: 0.75;
}

.initialism {
  opacity: 0.75;
  font-size: 0.8em;
  margin-bottom: 2.5em;
}

h1 {
  font-size: 1.4em;
  line-height: 1.4;
  font-weight: bold;
}

.content {
  background: white;
  border-radius: 2px;
  padding: 1.5em 1.5em 1em 1.5em;
  margin: 0.5em -1.5em -1em -1.5em;
  box-shadow: 0 5px 20px hsl(216, 30%, 92.5%);
}

.content-post {
  border-top: 5px solid hsl(216, 30%, 20%);
}

.content-comment {
  border-top: 5px solid hsl(216, 30%, 80%);
}

.loading {
  opacity: 0.75;
}
